$background-color: #fafafa;
$header-height: 50px;
$side-padding: 10px;

.app {
  background-color: $background-color;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .app-header {
    color: rgb(26, 21, 21);
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;

    height: $header-height;
    position: fixed;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $background-color;

    z-index: 10;

    span {
      margin: 0 10px;
    }

    .ah-colour-num {
      width: 150px;
      background-color: black;
      color: white;

      padding: 0 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
  
  .app-body {
    color: white;
    font-size: 1.2em;
    margin: $header-height auto;
    
    display: flex;
    flex-wrap: wrap;

  }

  .loading-placeholder {
    color: black;
    margin: $header-height auto 0;
  }

  .image-showcase {
    margin: $header-height auto;

    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }

  @media only screen and (max-width: 600px) {
    .image-showcase {
      width: 100% !important;
    }
  }

}

